extends layout

block content
    div.wrapper.ohonooo
        - const upDog = dog.toUpperCase();
        p.hello Hello! my dog name is #{upDog}
        img.dog(src="dog.jpg", alt=`Dog ${dog.toUpperCase()}`)

    h2
        | Hello
        em How are you?